.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25%;
    background-color: rgb(255, 114, 79);
  }
  
  a {
    color: #333;
    text-decoration: none;
    padding: 1rem;
  }
  
  a:hover {
    background-color: rgb(152, 41, 0);
    color: white;
  }


  