/* Container holding the image and the text */
ul {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 2px;
    padding-left: 2px;
}

.img-container {
    background-color: antiquewhite;
    padding: 5px;
    margin: 7px;
    position: relative;
    text-align: center;
    border: 0.2px solid rgb(183, 164, 139);
    border-radius: 7%;
    box-shadow: 5px 7px rgb(183, 164, 139);
    font-size: 30px;
    color: white;
}

.img-container img {
    border-radius: 8%;
    width: 18vw;
    margin: 2px;
}

.img-title-bottom-left {
    position: absolute;
    color: rgb(250, 220, 182);
    font-size: 20px;
    font-weight: bold;
    bottom: 25px;
    left: 20px;
}

.img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**/
/* 
li:has(input[type="checkbox"]:checked){
    background-color:rgb(10, 227, 10);
}






.to-button{
    margin-top: 10px;
    margin-left: 20px;
    width: 140px;
    display: inline;
    background-color: rgb(104, 234, 189);
    color: black;
}

#to-div{
   display: flex;
  align-items: center;  
} */